<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lawyer Space</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="navbar1">
        <p>LAWYER SPACE</p>
    </div>
    <div class="navbar">
        <a href="#sobre">Sobre</a>
        <a href="#espaco-advogados">Espaço Advogados</a>
        <a href="#espaco-cliente">Espaço do Cliente</a>
        <a href="#contato">Contato</a>
    </div>

    <div class="content">
        <div class="text-content">
            <h2>Sobre:</h2>
            <p>CONTEUDO</p>
        </div>
        <div class="image-content">
            <div class="image-placeholder">IMAGEM</div>
        </div>
    </div>

</body>

</html>